// Font family Default

$fontDefault: 'Brandon';


// Backgrounds

$gradientSidebar: linear-gradient(to top, #000 -30%, transparent);
$bgLinePrince: #e8ce6e;


// Colors Base

$oneColor: #FFF;


// Text Colors

$messageColor: #8c8c8b;