// Font family Default

$fontDefault: 'Brandon';
$fontSecondary: 'SourceCode';


// Backgrounds

$gradientSidebar: linear-gradient(to top, #000 -30%, transparent);
$bgLinePrince: #e8ce6e;


// Colors Base

$oneColor: #FFF;
$btnPayment: #e9eaf5;
$btnSubmit: #e8ce6e;

// Text Colors

$messageColor: #8c8c8b;
$textInputColor: #454656;
$colorTitleInput: #aeafc1;
