@font-face {
	font-family: 'Brandon';
	src: url("../fonts/Brandon.otf");
}

@font-face {
	font-family: 'BrandonBlack';
	src: url("../fonts/BradonBlack.otf");
}

@font-face {
	font-family: 'SourceCode';
	src: url("../fonts/SourceCodePro.otf")
}